<div class="first-heading row">
    <div class="col-8">
        <h1 class="titule">This First Heading <span class="gray">Will Catch Your Eye</span></h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus vitae, corrupti omnis, est ratione velit
            dicta quibusdam modi, illo suscipit sequi nemo placeat magni facilis quod voluptatem autem? Cumque, minus!
            Quasi, ut excepturi. Est, quam quis? Qui</p>
    </div>
    <div class="col-4">
        <div class="imagen1"></div>
    </div>
</div>