<!-- your html code here -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mr-auto ">
    <div class="container-fluid ">
        <a class="navbar-brand" href="#">Start Bootstrap </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="#">About </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="templates/services.html">Services </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="templates/portfolio.html">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="templates/contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
 </nav>