<div class="first-heading row justify-content-center">
    <div class="col-4">
        <div class="imagen2">
        </div>
    </div>
    <div class="col-8">
        <h2 class="titule">The Second Heading <span class="gray">Is Pretty Cool Too. </span></h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus vitae, corrupti omnis, est ratione velit
            dicta quibusdam modi, illo suscipit sequi nemo placeat magni facilis quod voluptatem autem? Cumque,
            minus!
            Quasi, ut excepturi. Est, quam quis? Qui</p>
    </div>
</div>